<!-- Toolbar -->
<h1>Hello, World!</h1>

<app-navbar></app-navbar>
<app-post
  [fromParent]="parentMessage"
  (messageEvent)="receiveMessage($event)"
></app-post>

<h2>{{ message }}</h2>
<h3>Message from child: {{ fromChildOutput }}</h3>

<h1 [style.color]="flag ? 'red' : 'blue'">Colours</h1>

<button (click)="buttonClick()">button for testing Event binding</button>
<!-- for normal binding we use [], but for event binding we use ()-->


<br>
<input placeholder='testing on keyup' type='text' (keyup)='onKeyup()'/>
<br>
<input placeholder='keyup only on pressing enter' type='text' (keyup)='onKeyupEnter($event)'/>
<br>
<input placeholder='keyup only on pressing enter' type='text' (keyup.enter)='onKeyupFilter()'/>
