<p>task1 works!</p>

<h1>Post Form</h1>

<input
  type="text"
  placeholder="post title"
  [value]="postTitle"
  [(ngModel)]="postTitle"
/>

<input
  type="text"
  placeholder="Enter URL"
  [value]="imageUrl"
  [(ngModel)]="imageUrl"
/>

<input
  id="background"
  type="checkbox"
  [value]="postTitleBackground"
  [(ngModel)]="postTitleBackground"
/>
<label for="background">change background</label><br />

<h1>Entered Details</h1>
<h3>
  Post Title:
  <span [style.background-color]="postTitleBackground ? 'yellow ' : ' white'">{{
    postTitle
  }}</span>
</h3>
<img [src]="imageUrl" />
